*{
margin: 0;
padding: 0;
}
html {
   min-width: 1350px;
}
li a{
	padding: 15px 32px;
	font-size:16px;
	text-decoration:none;
	color:yellow;
	border:2px solid black;
	background-color:green;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
nav{
	margin-left:560px;
}
nav li{	
	float:left;
	list-style:none;
}
li a:hover{
background:purple;
color:white;

}
.button {
    background-color: green;
    border: none;
	border:2px solid black;
    color: yellow;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.button:hover{	
		background:purple;
		color:white;
		}
		
div#test{
	
	border:8px solid black;
	padding:10px 10px 10px 10px;
	text-align:center;
	margin-left:160;
	margin-right:160;
	margin-top:40;
	height: 200px;
    background: red;
    background: -webkit-linear-gradient(red, yellow);
    background: -o-linear-gradient(red, yellow); 
    background: -moz-linear-gradient(red, yellow); 
    background: linear-gradient(red, yellow);
	color: yellow;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;	
	box-shadow: 10px 10px green;
}
div#txt{
	
	margin-left:528px;
	border:#000 8px solid;
	padding:10px 100px 10px 100px;
	color:white;
	background-color:red;
	text-align:center;
	font-size:23px;
	display:inline;
	color: yellow;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	box-shadow: 10px 10px green;	
}

p{
	text-align:center;
}
p u{
	font-size:55px;
	color: yellow;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;	
}
h3{
	font-size:20px;
}
h2#test_status{
	margin-left:490px;
	border:#000 8px solid;
	padding:10px 100px 10px 100px;
	color:white;
	background-color:red;
	text-align:center;
	display:inline;
	color: yellow;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	box-shadow: 10px 10px green;
}

body
{
	background-image:url('1.jpeg');
	background-size:cover;
}
.img-circle {
    border-radius: 50%;
	width:260px;
	height:240px;
	margin-left:540px;	
}
nav#ab{
	margin-left:620px;
}

div#ou{
	
	margin-left:528px;
	padding:10px 100px 10px 100px;
	color:white;
	text-align:center;
	font-size:23px;
	display:inline;
	color: yellow;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	
}